@charset "utf-8";

html{
  scroll-behavior: smooth;
}

:root {
  --dark-color: #0D0D0D;
  --bright-color: #F2F2F2;
  --shadow-color: #212121;
  --primary-color: #BF1F3C;
  --second-color: #F20505;
  --terceury-color: #03318C;
  --quarta-color: #0511F2;
  --quinta-color: #ffff00;
  --sexta-color: #f0be00;
  --azulnaval-color: #274360;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Mulish', sans-serif;
}

a {
  color: var(--bright-color);
  text-decoration: none;
}

body {
  background-color: var(--azulnaval-color);
}

.background {
  content: "";
  position: absolute;
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
  opacity: 0.5;
  background-size: 100%;
  background-repeat: no-repeat;
  background-size: auto;
}

#header {
  color: var(--bright-color);
  width: 100%;
  z-index: 2900;
  font-size: 1.5rem;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid var(--shadow-color);
  box-shadow: 5px 20px 5px 0px rgba(0, 0, 0, 0.3);
  background: var(--shadow-color);
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 2000;
  border-radius:0 20px 20px 0;
  background-color: var(--dark-color);
  width: 18rem;
  padding: 1.8rem 0.85rem;
  color: var(--bright-color);
  display: flex;
  flex-direction: column;
  transition: all 0.5s ease-in-out;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.logo {
  transform: scale(2.5, 2.5);
}

.sidebar-top {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 32px;
}

.sidebar-top .logo {
  position: relative;
  width: 54px;
  margin-right: 1.45rem;
  left: -1px;
}

.sidebar-top h3 {
  padding-left: 0.5rem;
  font-weight: 600;
  font-size: 1.4rem;
}

#sidebar-buttom li{
  top: 580px;
  gap: 7.5px;
  font-size: 1.25rem;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
}

.expand-btn {
  position: absolute;
  top: 130px;
  width: 45px;
  height: 45px;
  display: grid;
  place-items: center;
  background-color: var(--terceury-color);
  border-radius: 6px;
  cursor: pointer;
  box-shadow: 0.3px 10px -3px var(--shadow-color);
  right: -3rem;
  transform: translateY(-50%) translateX(-8px);
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
}

nav:hover .expand-btn, .expand-btn.hovered {
  transform: translateX(0px) translateY(-50%);
  opacity: 1;
  pointer-events: all;
}

.sidebar-links ul {
  list-style: none;
  position: relative;
}

.sidebar-links li {
  position: relative;
}

.sidebar-links li a {
  padding: 12px;
  gap: 7.5px;
  color: var(--bright-color);
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  height: 56px;
  text-decoration: none;
}

.icon {
  border-radius: 6px;
  padding: 5px;
  display: flex;
  align-items: center;
}

.icon img {
  width: 26px;
  height: 26px;
  margin: auto;
}

.icon:hover {
  background-color: var(--shadow-color);
}

.sidebar-links .link {
  margin-left: 20px;
}

.sidebar-links .active {
  width: 100%;
  text-decoration: none;
  background-color: var(--dark-color);
  transition: all 100ms ease-in;
  border-radius: 10px;
}

body.collapsed nav {
  width: 80px;
}

body.collapsed .hide {
  opacity: 0;
  pointer-events: none;
  transition-delay: 0s;
}

body.collapsed .expand-btn img {
  transform: rotate(-180deg);
}

#patro {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  background-color: var(--shadow-color);
  padding: 25px;
  margin-top: 180px;
  width: 95.5%;
  margin-left: 80px;
  height: 350px;
  flex-wrap: wrap;
}

.itens-patro{
  height: 200px;
  width: 300px;
  background-color: var(--terceury-color);
  border-radius: 50px;
}

#itens-patro {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  gap: 50px;
  top: 100px;
}

.img-patro {
  width: 300px;
  height: 200px;
}

.img-philips {
  width: 250px;
  height: 150px;
  margin: 20px 0 0 20px;
}

#patrocinio {
  rotate: 270deg;
  padding: 30px;
  border-bottom: 2px solid var(--quinta-color);
  color: var(--sexta-color);
  letter-spacing: 2px;
  gap: 0;
  margin: 0;
}

.itens-patro:hover {
  border-bottom: 5px solid var(--second-color);
  transition: all 0.5s ease-in-out;
}

#bottom {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  background-image: linear-gradient(to left, var(--terceury-color), var(--primary-color));
  padding: 50px;
  width: 95.5%;
  margin-left: 80px;
  height: 620px;
  flex-wrap: wrap;
}

.itens-bottom {
  height: 500px;
  width: 250px;
}

.catalunha-bottom {
  height: 500px;
  width: 500px;
}

.info-bottom {
  justify-content: space-around;
  align-items: center;
  text-align: center;
  height: 400px;
  width: 300px;
}

#titulo-bottom{
  font-size: 35px;
  margin: 50px 0 45px 0;
}

.par-bottom {
  margin-top: 15px;
  padding: 2px;
  font-size: 25px;
}

.par-bottom:hover {
  transition: all 0.5s ease-in-out;
  border-bottom: 2px solid var(--sexta-color);
}

#img-catalunha{
  height: 500px;
  width: 500px;
}

.itens-social {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  margin-top: 20px;
  width: 250px;
  height: 150px;
  border-radius: 5px;
  background-color: var(--shadow-color);
  border: 2px solid var(--sexta-color);
  color: var(--bright-color);
}

.itens-social:hover {
  transition: all 0.1s ease-in-out;
  border: 5px solid var(--quinta-color);
}

.img {
  transform: scale(1.2, 1.2);
}

 /* formatação de letra */



/* formatação das imagens */

#barlogo {
  border-style: none;
  max-width: 15%;
  margin-top: 20px;
  margin-left: 80px;
  display: block;
  margin: auto;
}