@charset "utf-8";

:root {
   --dark-color: #0D0D0D;
   --bright-color: #F2F2F2;
   --shadow-color: #212121;
   --primary-color: #BF1F3C;
   --second-color: #F20505;
   --terceury-color: #03318C;
   --quarta-color: #0511F2;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: Mulish;
}

.background {
   content: "";
   position: absolute;
   height: 100vh;
   width: 100vw;
   display: grid;
   place-items: center;
   opacity: 0.5;
   background-size: 100%;
   background-repeat: no-repeat;
   background-size: auto;
}

nav {
   position: fixed;
   top: 0;
   left: 0;
   height: 100vh;
   z-index: 2000;
   border-radius:0 20px 20px 0;
   background-color: var(--dark-color);
   width: 18rem;
   padding: 1.8rem 0.85rem;
   color: var(--bright-color);
   display: flex;
   flex-direction: column;
   transition: all 0.5s ease-in-out;
}

main {
   flex: 1;
   display: flex;
   flex-direction: column;
}

.logo {
   transform: scale(2.5, 2.5);
}

.sidebar-top {
   position: relative;
   display: flex;
   align-items: center;
   margin-bottom: 32px;
}

.sidebar-top .logo {
   position: relative;
   width: 54px;
   margin-right: 1.45rem;
   left: -1px;
}

.sidebar-top h3 {
   padding-left: 0.5rem;
   font-weight: 600;
   font-size: 1.4rem;
}

#sidebar-buttom li{
   top: 550px;
   gap: 7.5px;
   font-size: 1.25rem;
   cursor: pointer;
   position: relative;
   display: flex;
   align-items: center;
}

.expand-btn {
   position: absolute;
   top: 130px;
   width: 45px;
   height: 45px;
   display: grid;
   place-items: center;
   background-color: var(--terceury-color);
   border-radius: 6px;
   cursor: pointer;
   box-shadow: 0.3px 10px -3px var(--shadow-color);
   right: -3rem;
   transform: translateY(-50%) translateX(-8px);
   opacity: 0;
   pointer-events: none;
   transition: 0.3s;
}

nav:hover .expand-btn, .expand-btn.hovered {
   transform: translateX(0px) translateY(-50%);
   opacity: 1;
   pointer-events: all;
}

.sidebar-links ul {
   list-style: none;
   position: relative;
}

.sidebar-links li {
   position: relative;
}

.sidebar-links li a {
   padding: 12px;
   gap: 7.5px;
   color: var(--bright-color);
   font-size: 1.25rem;
   display: flex;
   align-items: center;
   height: 56px;
   text-decoration: none;
}

.icon {
   border-radius: 6px;
   padding: 5px;
   display: flex;
   align-items: center;
}

.icon img {
   width: 26px;
   height: 26px;
   margin: auto;
}

.icon:hover {
   background-color: var(--shadow-color);
}

.sidebar-links .link {
   margin-left: 20px;
}

.sidebar-links .active {
   width: 100%;
   text-decoration: none;
   background-color: var(--dark-color);
   transition: all 100ms ease-in;
   border-radius: 10px;
}

body.collapsed nav {
   width: 80px;
}

body.collapsed .hide {
   opacity: 0;
   pointer-events: none;
   transition-delay: 0s;
}

body.collapsed .expand-btn img {
   transform: rotate(-180deg);
}

#header {
   color: var(--dark-color);
   width: 100%;
   z-index: 2900;
   font-size: 1.5rem;
   height: 100px;
   display: flex;
   align-items: center;
   justify-content: center;
}

#container {
   display: flex;
   justify-content: space-around;
   align-items: center;
   flex-direction: row;
   padding: 50px;
   margin-top: 180px;
   gap: 50px;
   width: 95.5%;
   margin-left: 80px;
   height: 1000px;
   flex-wrap: wrap;
}

.itens {
   border: 2px solid var(--primary-color);
   height: 400px;
   width: 550px;
}

#itens {
   flex-wrap: wrap;
}

#patro {
   display: flex;
   justify-content: space-around;
   align-items: center;
   flex-direction: row;
   padding: 25px;
   margin-top: 180px;
   width: 95.5%;
   margin-left: 80px;
   height: 350px;
   flex-wrap: wrap;
}

.itens-patro{
   border: 2px solid var(--primary-color);
   height: 250px;
   width: 350px;
}

#bottom {
   display: flex;
   justify-content: space-around;
   align-items: center;
   flex-direction: row;
   padding: 50px;
   width: 95.5%;
   margin-left: 80px;
   height: 620px;
   flex-wrap: wrap;
}

.itens-bottom {
   border: 2px solid var(--primary-color);
   height: 500px;
   width: 250px;
}