@charset "utf-8";

:root {
  --dark-color: #0D0D0D;
  --bright-color: #F2F2F2;
  --shadow-color: #212121;
  --primary-color: #BF1F3C;
  --second-color: #F20505;
  --terceury-color: #03318C;
  --quarta-color: #0511F2;
  --quinta-color: #ffff00;
  --sexta-color: #f0be00;
  --azulnaval-color: #274360;
}

#tabela {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  padding: 50px;
  margin-top: 180px;
  gap: 50px;
  width: 95.5%;
  margin-left: 80px;
  height: 1000px;
  flex-wrap: wrap;
}

/* formatação das imagens */
 
.img-titulos{
  width: 100%;
  padding: 5px;
}

/* formatação da tabela */

table{
    color: var(--bright-color);
}

table, th, td{
    border: 1px solid var(--bright-color);
    margin-left: 1cm;
    margin-right: 1cm;
    text-align: center;
    border-collapse: collapse;
}

li{
    color: var(--bright-color);
}

#tabela {
  margin-bottom: 10px;
  margin-top: 15px;
}
